@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-josefinSans;
  }
  section {
    @apply flex items-center py-8 lg:py-10;
  }
  h1,
  h2,
  h3,
  p,
  span,
  label,
  input,
  textarea,
  button,
  dd,
  dt {
    @apply font-josefinSans text-black;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.mobile-full-height {
  min-height: 100svh;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
